
.sos{
    width: 60%;
    text-align: center;
    background-color: rgba(228, 233, 238, 0.842);
    margin: 0 ;
    float: right;
    margin-right: 13%;
}

header{
    background-image: url(img/bgimg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: fill;
}
.text{
    background-color: white;
}
.whitecolor{
    color: white;
}
.profile{
    height: 50px;
}
.chatbox{
    width: 20%;
    
}
.block{
    display: block;
}